/******************************************************
                    Main CSS 
******************************************************/
@import url('base.css');
@import url('style.css');




/*--login--*/
.login{
	background: var(--black-col);
	padding-bottom: 98px;	
}
.main-logo img{
	padding: 70px 50px 40px 50px;
}

.form-field{
	color:var(--white-col); 
	text-align: center;
}

.form-field h2{
	font-size: 22px;
    letter-spacing: 2px;
}

.form-field p{
	font-size: 14px;
    padding-top: 8px;

}

.form-field .login-form{
	padding-top: 50px;
}

.form-field .login-form .form-control{
	background: #2a2a2a;
	border-radius: 10px;
    border: none;
    padding: 30px 0 30px 27px;
    margin-bottom: 30px;
    font-size: var(--small-font-size);
    color:var(--light-grey-p-col);
}

.login-form .btn.submit{
	background: var(--yellow-col);
	width: 100%;
	padding: 17px 0px 17px 0px;
	border-radius: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.acc-links{
	padding-top: 40px;
}

.acc-links .forget-details{
	color:var(--light-grey-p-col);
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
}

.acc-links .create-account{
	color:var(--light-grey-p-col);
	font-size: 11px;
	text-transform: uppercase;
	float: right;
	font-weight: 600;
}

.terms-conditions{
	padding: 30px 21px 0 21px;
}

.terms-conditions p{
	color:var(--light-grey-p-col);
	font-size: 11px;
    text-align: center;
    line-height: var(--text-small-line-height);
}


/*--Artboard-16--*/
.main{
	color:var(--grey-col-brdr); 
	text-align: center;
	text-transform:uppercase;
    padding-bottom: 10px;
    padding-top: 20px;
    background: var(--black-col);
    border-bottom: 1px solid #131313;
}

.main h2{
	font-size: 13px;
    letter-spacing: 1px;
	
}
.main p{
	font-size:10px;
}


.title{
	color:var(--white-col);
	text-align: center;
    font-weight: 100;
    font-size: 13px;
    padding-top: 20px;
    letter-spacing: 2px;
    background: var(--black-col);
   
}

.yellow-border{
	background: var(--yellow-col-brdr);
    height: 4px;
    border-radius: 4px;
    margin-left: 34%;
    margin-right: 34%;
    margin-top: 14px;
}

.partners-tab .nav-tabs{
	border: none;
	display: block;
    text-align: center;	
}

.nav-tabs .nav-link{
	display: inline-block;
}

.partners-tab{
	padding-top: 5px;
	background: var(--black-col);
}

.partners-tab .tab-content{
	color:var(--white-col);
	background: var(--light-black-col);
	padding: 15px 15px 0px 15px;  
}

.tab-content .tab-one{
	background:var(--black-col);
	padding-bottom: 20px;
}

.tab-content .tab-one p{
	font-size: 12px;
    padding: 10px;
    letter-spacing: 1px;
}


.tab-content .tab-one h2{
	text-align: center;
    font-size: 20px;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
	color:var(--grey-col-brdr); 
	background: var(--light-black-col);
	border: none;
	border-radius: 15px 15px 0px 0px;
	font-size: 13px;
    letter-spacing: 3px;
    padding: 14px 15px 14px 15px;
    
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color:var(--white-col);
	background: var(--light-black-col);
	border: none;
}

.tab-content .section-1{
	border-top: 1px solid #FFC81F;
	border-bottom: 1px solid #FFC81F;
	padding-top: 10px;
    padding-bottom: 10px;
}

.tab-content .section-2{
	border-bottom: 1px solid #FFC81F;
	padding-top: 10px;
    padding-bottom: 10px;
}

.tab-content .event-details{
    
}

.tab-content .event-details ul{
	width: 100%;
    display: block;
    overflow: hidden;
  
}

.tab-content .event-details ul li{
	float: left;
    display: block;
    width: 50%;
    text-align: center;
   
}

.tab-content .event-details ul li{
	border-right: 1px solid #FFC81F;
	overflow: hidden;
}

.tab-content .event-details ul li p{
	padding: 0px;
}

.tab-content .event-details ul li p span{
	display: block;
	font-weight: 800;
	white-space: nowrap;
    font-size: 11px;
}

.tab-content .event-details ul li:last-child{
	border-right:0px;
}

/*--Artboart-40--*/

.tab-content .select-btn{
	text-align: center;
}

.tab-content .select-btn .btn{
    width: 47%;
    float: left;
	border:1px solid var(--light-grey-col);
	color: var(--white-col);
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 8px;
	border-radius: 10px;
    letter-spacing: 1px;
}

.tab-content .select-btn .btn.active{
	border:1px solid #FFC81F;
}

.tab-content .select-btn .btn:focus{
	border:1px solid #FFC81F;
}

/*Aartboart-40*/

.gallery{
	display: inline-block;
	padding-top: 15px;
}

.gallery img{
	width: 30.3333%;
	float:left;
	margin: 3% 3% 0 0;
}

/*--Artboat-10--*/

.banner{
	background: url(../img/main-screen.png);
	background-repeat: no-repeat;
	height:713px;
	background-position: center;
	position: relative;
}

.banner-text{
	color: var(--white-col);
    position: absolute;
    top: 35%;
    padding: 30px;
  }

.banner-text h2{
 	line-height: 1.4;
    letter-spacing: 2px;
    font-weight: 400;
    position: relative;
    padding-bottom: 20px;
  }

 .banner-text h2:after{
 	content: "";
 	position: absolute;
 	background:  var(--yellow-col-brdr);
 	display: inline-block;
 	height: 4px;
 	border-radius: 10px;
 	left: 0;
 	bottom: 0;
 	width: 30%;


 }

.banner-text p{
 	font-size: 10px;
 	padding-top: 15px;
 	letter-spacing: 1.8px;
 }

 .banner-2{
	background: url(../img/banner-2.png);
	background-repeat: no-repeat;
	height:706px;
	background-position: center left;
	position: relative;
}
.banner-2 .icon{
	position: absolute;
	bottom: 3%;
	left: 50%;
    width: 5%;
}

.banner .icon{
	position: absolute;
	bottom: 3%;
	left: 50%;
    width: 5%;
}

/*Aartboart-49*/

.my-dwonloads{
	background: var(--black-col);
	padding: 0 0px 0px 10px;
	height: 704px;
}
.my-dwonloads h2{
	color: var(--white-col);
	text-align: center;
	font-weight: var(--light-font-weight);
	font-size: var(--secondary-font-size);
	letter-spacing: 1px;
	position: relative;
}

.my-dwonloads h2:after{
	content: "";
 	position: absolute;
 	background:  var(--yellow-col-brdr);
 	display: inline-block;
 	height: 3px;
 	border-radius: 10px;
 	left: 35%;
 	bottom: -110%;
 	width: 30%;
}

.main.download{
	border-bottom: 0px;
}

.my-dwonloads .gallery{
	padding-top: 30px;
}

/*--Artboart-7--*/

.event-list{
	background: var(--black-col);
	padding: 15px 0px 15px 15px;
	margin-bottom: 22px;
}	
.event-list h3{
	text-align: left;
	font-size: 18px;
    font-weight: var(--light-font-weight);
    padding-bottom: 5px;
}
.tab-one.oct-28{
	padding-bottom: 0px;
	margin-top: 10px;
}

.event-list ul {

}
.event-list ul li{
	padding-right: 35px;
}

.event-list ul li p{
	text-transform: uppercase;
	font-size: 11px;
}

.partners-tab .tab-content.events-tab{
	
}
.event-list.not-active h3 span{
	text-transform: uppercase;
	color: var(--grey-col-brdr);
}

.event-list h3 span{
	text-transform: uppercase;
}

.event-list.not-active{
	color: var(--grey-col-brdr);
}

/*--Artboart-10--*/
.partners-tab .event-list.not-active.box-shadow{
	 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(144,115,30);
}


/*Aartboart-8*/

.image-blocks{
	padding-top: 10px;	
}

.image-blocks .block:first-child{
	padding-right: 5px;
}

.image-blocks .block:last-child{
	padding-left: 5px;
}


.image-blocks .black-box{
	background: var(--black-col);
	height: 50px;
	text-align: center;
	
}

.image-blocks .black-box .left .center{
	    padding-top: 15px;
    padding-left: 5px;
}

.image-blocks .black-box .left{
	width: 50%;
	float:left;
	text-align: left;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.2;
    padding-top: 8px;

}
.image-blocks .black-box .left li{
	padding-left: 10px;
}

.image-blocks .black-box .right{
	width: 50%;
	float:left;
	font-size: 8px;
	line-height: 1.2;
	padding-top: 15px;
}
.tab-content.slider{
	padding: 15px 0px 0px 0px;
}

.slider-wall{
	padding-top: 55px;
}

.button-groups{
	padding: 30px 15px 15px 15px;
	text-align: center;
}

.button-groups .btn.user{
	color: var(--black-col);
	width: 60%;
	background: var(--yellow-col);
	margin-bottom: 15px;
	font-size: 10px;
	text-transform: uppercase;
	border-radius: 20px;
    padding: 10px 0 10px 0;
    letter-spacing: 1px;
}

.button-groups .btn.user.share{
	background: none;
	border:1px solid var(--yellow-col);
	color:var(--white-col);
}


/*--slider---*/

.carousel {
  width: 100%;
  cursor: pointer;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}

/*--Artbaord-25---*/
.safety-block {
	margin-top: 30px;
	padding: 0 15px 0 15px;
}
.safety-block ul{
	border-bottom: 1px solid var(--yellow-col-brdr);
	width: 100%;
    text-align: center;
    display: inline-block;
    padding: 10px 0 10px 0;
}
.safety-block ul li{
	width: 50%;
	float: left;
	padding: 10px 0 10px 0;
}
	
.safety-block ul li p{
	font-size: 12px;
	color: var(--white-col);
	text-transform: uppercase;
	
}

.safety-block ul li:first-child{
	border-right:1px solid var(--yellow-col-brdr);
}

.title.safety{
	background-color: var(--light-black-col);
}

.safety-block ul:first-child{
	border-top:1px solid var(--yellow-col-brdr);
}

.map p{
	color: var(--white-col);
	font-size: 12px;
	font-size: 11px;
    letter-spacing: 1px;
    padding: 15px 0 15px 0px;
}

.map .google-map img{
	height: 270px;
    width: 100%;
    border-radius: 10px;
}

.button-groups.location{
	    padding: 15px 15px 15px 15px;
}


/*--Artboard-27---*/

.title.profile{
	background:var(--black-col);
}

.container-fluid{
	background:var(--black-col);
}

.my-profile .form-group label{
	color: var(--white-col);
	font-size: 11px;
}

.my-profile .form-group .form-control{
	border: 0px;
	background: var(--black-col);
	padding: 0px;
	font-size: 12px;
}

.form-control:focus{
	box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;
}

/*--Help-Desk--*/

.title.help{
	background:var(--light-black-col);
}

.help-desk{
	padding-top: 25px;
}

.help-desk p{
	color:var(--white-col);
	font-size: 11px;
	letter-spacing:1px;
	padding-bottom: 25px;
	text-align: center;
}

.team{
	margin-bottom: 25px;
}

.help-desk .team ul{
	display: inline-block;
	width: 100%;
	background: var(--black-col);
	padding: 15px 0px 15px 25px;
}

.help-desk .team ul li{
	width: 50%;
    float: left;

}

.help-desk .team ul p{
	font-size: 16px;
	text-align: left;
	color:#F8D229;
	padding-top: 10px;
}

.help-desk .team ul p span{
	font-size: 10px;
}

.help-desk .team ul li .fa{
	color:var(--white-col);
	margin-right: 13px;
	border: 1px solid #fff;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    line-height: 50px;
    height: 50px;
}
/******************************************************
                    Main CSS Ends 
******************************************************/

