
/*--Menu-bar--*/
span{color: var(--white-col);}
.sidenav {
 text-align: center;
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: #000000;
 overflow-x: hidden;
 transition: 0.5s;
 padding-top: 60px;
}

.sidenav a {
 text-decoration: none;
 font-size: 25px;
 color: #fff;
 display: block;
 transition: 0.3s;
 
}

.sidenav a:hover,
.offcanvas a:focus {
 color: #f1f1f1;
}

.closebtn {
 position: absolute;
 top: 0;
 right: 25px;
 font-size: 36px !important;
 margin-left: 50px;
}

.sidenav .logo{
    padding: 0px 115px 40px 40px;
}

.sidenav .menu{
    float: left;
    padding-left: 40px;
}

.sidenav .menu .menu-item .icon{
    padding-right: 40px;
}

.sidenav .menu .menu-item .icon img{
    height: 25px;
    
}

.sidenav .menu .menu-list{
    display: block;
    text-align: left;
    padding-bottom: 26px;
}

.sidenav .menu .menu-list .menu-item{
    
    font-size: var(--small-font-size);
    text-transform: uppercase;
    color:var(--white-col);
    letter-spacing: 2px;
}
.open-nav{
    font-size: 20px !important;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 20px;
}
/*--footer--*/

footer{
	position: absolute;
    width: 100%;
	border-top:1px solid var(--grey-col-brdr);
	padding: 10px 0px 10px 0px;
    bottom: 0;
    background: var(--black-col);
}

.menu-footer ul{
	display: inline-block;
    width: 100%;
}

.menu-footer ul li{
	width: 33%;
    text-align: center;
    float: left;

}

.menu-footer ul li a{
    color: var(--white-col);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px 25px 5px 25px;

}

.menu-footer ul li a:hover{
	border-bottom: 2px solid var(--yellow-col-brdr);
}

.menu-footer ul li a.active{
    border-bottom: 2px solid var(--yellow-col-brdr);
}

/*--model--*/
.modal{
     color:var(--white-col);
     top: 24%;
     padding: 0 60px 0 60px;
}
.modal-content{
    background: var(--light-black-col);
    padding: 0 10px 0 10px;
}

.modal-header{
    display: block;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #707070;
}

.modal-header .close{
    color:var(--white-col);
    font-weight: lighter;
    text-shadow: none;
    opacity: unset;
}

.modal-body{
   font-size:var(--secondary-font-size);
   text-align: center;
}

.modal-body ul li{
    display: block;
    padding-bottom: 24px;
}
.modal-body ul li a{
    color:var(--white-col);
    text-transform: uppercase;
    letter-spacing: 2px;

}

.modal-header .modal-title{
     font-size: 13px;
    text-align: center;
    padding-top: 28px;
    letter-spacing: 2px;
}

.modal-footer{
    border-top: 0px;
}

.main-screen{
    position: absolute;
    top: 40%;
    padding: 50px;
}
.main-screen-two{
    position: absolute;
    top: 15%;
    padding: 50px;
}
